{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<label for="mercure-message-input">Artiste:</label>
<input type="text" id="artist-name"/>
<input onclick="test()" type="button" id="artist-btn" value="Send"/>

<section id="texte"></section>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>{{artist.id}}</li>
        <li>{{artist.name}}</li>
        <li>{{artist.link}}</li>
        <li>{{artist.share}}</li>
        <li>{{artist.picture}}</li>
        <li>{{artist.pictureSmall}}</li>
        <li>{{artist.pictureMedium}}</li>
        <li>{{artist.pictureBig}}</li>
        <li>{{artist.pictureXl}}</li>
        <li>{{artist.nmAlbum}}</li>
        <li>{{artist.nbFan}}</li>
        <li>{{artist.radio}}</li>
        <li>{{artist.tracklist}}</li>
        {% for obj_n in obj %}
        <li>id : {{obj_n.id}}</li>
        <li>id : {{obj_n.title}}</li>
        {% endfor %}
    </ul>
</div>

<script>
    var section = document.querySelector('section');
    
    function test(){
        document.getElementById("texte").innerHTML = "";
        var text = document.getElementById('artist-name').value;
        var requestURL = 'http://localhost/deezer_api/public/index.php/search/' + text;
        var request = new XMLHttpRequest();
        request.open('GET', requestURL);
        request.responseType = 'json';
        request.send();
        request.onload = function() {
        var artiste = request.response;
        showArtist(artiste);
    }
    }
    /*var requestURL = 'http://localhost/deezer_api/public/index.php/search/django';
    var request = new XMLHttpRequest();
    request.open('GET', requestURL);
    request.responseType = 'json';
    request.send();
    request.onload = function() {
        var artiste = request.response;
        showArtist(artiste);
    }*/




    function showArtist(jsonObj) {
        var obj = jsonObj['data'];

        for (var i = 0; i < obj.length; i++) {
            
            var myArticle = document.createElement('article');
            var id = document.createElement('p');
            var name = document.createElement('p');
            var nbfan = document.createElement('p'); 

            id.textContent = obj[i].id;
            name.textContent = obj[i].name;
            nbfan.textContent = obj[i].nb_fan;

            myArticle.appendChild(id);
            myArticle.appendChild(name);
            myArticle.appendChild(nbfan);

            section.appendChild(myArticle);
        }
        
    }


</script>
{% endblock %}
