{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>DB</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {% for track_db_n in track_db %}
        <tr>
            <th scope="row">{{track_db_n.id}}</th>
            <td>{{track_db_n.title}}</td>
            <td>{{track_db_n.link}}</td>
            <td>{{track_db_n.duration}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<h1>API</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {% for track_db_n in track_db %}
        {% for track_api_n in track_api %}
            {% if track_api_n.id != track_db_n.id %}
                <tr>
                    <th scope="row">{{track_api_n.id}}</th>
                    <td>{{track_api_n.title}}</td>
                    <td>{{track_api_n.link}}</td>
                    <td>{{track_api_n.duration}}</td>
                    <td><a href="{{ path("addTrack", {"id": track_api_n.id}) }}">Ajouter</a></td>
                    {% set a = [track_api_n.id] %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
